<div class="footer">
  <div class="row " style="padding-top: 70px;max-width: inherit;">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
      <img src="../../assets/logo.png" alt="worldPediaLogo" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-4"></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-4" style="    font-size: 16px;
    color: #fff;">
      <p>Best list of all countires with their flags</p>
      <p>on the whole internet !!!!</p>
    </div>
    <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4"></div> -->

  </div>
</div>